<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multilingual AI Assistant</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body style="background-color: lightblue;">
    <h1 class="center">Multilingual AI Assistant 🤖</h1>
    <br>
    <div class="flex-container">
        <button id="record-btn">Ask me anything</button>
        <textarea id="response" rows="10" cols="50" placeholder="Response will appear here..."></textarea>

    </div>
    
    <br>
    <div class="flex-container">
        <audio id="audio-playback" controls></audio>
        <button id="download-btn" disabled>Download Speech</button>

    </div>
    
    <script src="/static/js/script.js"></script>
</body>
</html>
